.menu-frame {
  background-image: linear-gradient(
    -180deg,
    rgba(173, 107, 255) 0%,
    rgba(116, 188, 247) 100%
  );
  width: 380px;
  height: 1024px;
}

/* .menulist_scroll {
  position: relative;
  max-height: 1024px; 
  float: left;
  overflow: hidden;
  overflow-y: auto;
}

@keyframes scroll {
  95% {
    top: -100%;
  }
  100% {
    top: 0;
  }
} */

.card-home {
  position: absolute;
  margin: 20px;
  top: 0;
  animation: scroll 10s linear 1s infinite;
}

.menulist-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menulist-name {
  font-family: Montserrat-Bold;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 19px;
}

.menulist-where {
  font-family: Montserrat-Regular;
  color: #666666;
  font-size: 15px;
  letter-spacing: 0.47px;
  line-height: 19px;
}

.menulist-image {
  position: relative;
  left: 170px;
  bottom: 55px;
}
